<div class="content-left col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1
                col-sm-8 col-sm-offset-2" ng-click="resContentChange()">
    <div class="lp-container">
        <div class="lp-item rotate" >
            <img ng-src="{{source.songList[source.playIndex].albumCoverUrl}}" >
        </div>
    </div>
    <ul class="row btnGroup-3">
        <li class="col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-2 col-xs-offset-2">
            <button><span class="glyphicon glyphicon-heart"></span></button>
        </li>
        <li class="col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-2 col-xs-offset-1">
            <button><span class="glyphicon glyphicon-share-alt"></span></button>
        </li>
        <li class="col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-2 col-xs-offset-1">
            <button class="btn-comment"><span class="glyphicon glyphicon-comment"></span></button>
        </li>
    </ul>
</div>