<div class="row play-home-footer visible-xs" ng-show="!contentOpenFlag">
    <a ng-hide="source.songList.length==0" ng-click="maxContent()" href="" class="btn-xs-content col-xs-3 text-center"><span class="glyphicon glyphicon-headphones"></span>
        <br/>播放中</a>
    <a href="" class="col-xs-3 text-center" ng-click="xsPageChange('songMenu')"><span class="glyphicon glyphicon-music"></span>
        <br/>我的音乐</a>
    <a href="" class="col-xs-3 text-center" ng-click="xsPageChange('adv')"><span class="glyphicon glyphicon-globe"></span>
        <br/>推荐</a>
    <a href="" class="col-xs-3 text-center" ng-click="xsPageChange('user')"><span class="glyphicon glyphicon-user"></span>
        <br/>账号</a>
</div>