<div class="user-page">
    <div class="row">
        <img src="data/image/21.jpg" alt="" class="pull-left"/>
        <h4>用户名字...</h4>
        <a class="btn-hide pull-right">签到</a>
    </div>
    <ul class="row user-message">
        <li class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center"><a class='text-center' >动态<br/> <b>999+</b></a></li>
        <li class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center"><a class='text-center' >关注 <br/><b>999+</b></a></li>
        <li class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center"><a class='text-center' >粉丝 <br/><b>999+</b></a></li>
    </ul>
    <ul class="row user-opera">
        <li><a href="" class="text-left">会员中心 <span class="glyphicon glyphicon-chevron-right pull-right"></span></a> </li>
        <li><a href="" class="text-left">等级 <span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
        <li><a href="" class="text-left">个人信息设置 <span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
        <li><a href="" class="text-left">绑定社交账号 <span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
        <li><a href="" class="text-left">导入歌单 <span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
        <li><a href="" class="text-left">退出登录</a></li>
    </ul>
</div>