
<div class="Home_Carousel" id="list" style="left: -1200px;">
      	  				<div id="carousel3" class="carousel">
      	  					<div class="carousel_part" ng-repeat="x in carousels3">
      	  						<div class="carousel_part_img"><img ng-src={{x.src}} /></div>
      	  						<div class="carousel_part_div">
      	  							<span class="carousel_part_span1">{{x.span1}}</span>
      	  							<span class="carousel_part_span2">{{x.span2}}</span>
      	  						</div>
      	  					</div>
      	  				</div>
      	  				<div id="carousel1" class="carousel">
      	  					<div class="carousel_part" ng-repeat="x in carousels1">
      	  						<div ng-click="allimg1($index)" class="carousel_part_img"><img ng-src={{x.src}} /></div>
      	  						<div ng-click="allimg1($index)" class="carousel_part_div">
      	  							<span class="carousel_part_span1">{{x.span1}}</span>
      	  							<span class="carousel_part_span2">{{x.span2}}</span>
      	  						</div>
      	  					</div>
      	  				</div>
      	  				<div id="carousel2" class="carousel">
      	  					<div class="carousel_part" ng-repeat="x in carousels2">
      	  						<div ng-click="allimg2($index)" class="carousel_part_img"><img ng-src={{x.src}} /></div>
      	  						<div ng-click="allimg2($index)" class="carousel_part_div">
      	  							<span class="carousel_part_span1">{{x.span1}}</span>
      	  							<span class="carousel_part_span2">{{x.span2}}</span>
      	  						</div>
      	  					</div>
      	  				</div>
      	  				<div id="carousel3" class="carousel">
      	  					<div class="carousel_part" ng-repeat="x in carousels3">
      	  						<div ng-click="allimg3($index)" class="carousel_part_img"><img ng-src={{x.src}} /></div>
      	  						<div ng-click="allimg3($index)" class="carousel_part_div">
      	  							<span class="carousel_part_span1">{{x.span1}}</span>
      	  							<span class="carousel_part_span2">{{x.span2}}</span>
      	  						</div>
      	  					</div>
      	  				</div>
      	  				<div id="carousel1" class="carousel">
      	  					<div class="carousel_part" ng-repeat="x in carousels1">
      	  						<div class="carousel_part_img"><img ng-src={{x.src}} /></div>
      	  						<div class="carousel_part_div">
      	  							<span class="carousel_part_span1">{{x.span1}}</span>
      	  							<span class="carousel_part_span2">{{x.span2}}</span>
      	  						</div>
      	  					</div>
      	  				</div>
      	  		</div>
      	  		
      	  		