<!DOCTYPE html>
<html ng-app="MyMusicApp" ng-controller="Controller_mymusic">
	<head>
		<meta charset="UTF-8">
		<title>Special</title>
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/Home.css"/>
		<link rel="stylesheet" href="css/Paging.css" />
		<link rel="stylesheet" href="css/Special/special.css" />
		<script type="text/javascript" src="jQuery/jquery-3.0.0.js" ></script>
		<script type="text/javascript" src="js/angular.js" ></script>
		<script type="text/javascript" src="js/angular-route.min.js"></script>
		<style>
			html{
				font-size: 12px;	
				
			}
			body{
				background: #333333;
				margin: 0;
				padding: 0;
				color: white;
				font-family: "微软雅黑";
			}
			@font-face {
				font-family:manbow;
				src: url("font/manbow clear.ttf");
			}
		</style>
	</head>
	<body>
		<!--
        	描述：页头
        -->
		<div class="head">
			<div class="head_top">
				<div class="head_top_logo">
					<img src="img/Head/Logo.png">
					<span>Slow Music</span>
				</div>
				<ul class="head_ul">
					<li>Music Library</li>
					<li>My Music</li>
				</ul>
				<div class="head_find">
					<input type="text" id="home_find_input">
					<span class="glyphicon glyphicon-search"></span>
				</div>
				<div class="head_login">
					<a href="#">Login</a>&nbsp;|&nbsp;<a href="#">Register</a>
				</div>
			</div>
			<div class="nav_div">
				<a href="Home_page.html">Home</a>
				<a href="songer.html" >songer</a>
				<a href="Song_Menu.html">Song Menu</a>
				<a href="Special.html" style="color: #1697CB;">Special</a>
				<a href="Rank.html">Rank</a>
				<a href="MV.html">MV</a>
			</div>
		</div>
		
        <!--
        	描述：分类
        -->
       	<div class="songerKind">
			<div class="songKind_div">
				<span style="background: none;">语种</span>
				<span><a href="#" style="margin: 0;" class="songKind_div_a">全部</a></span>
				<a href="#">国语</a>
				<a href="#">粤语</a>
				<a href="#">英语</a>
				<a href="#">韩语</a>
				<a href="#">日语</a>
				<a href="#">法语</a>
				<a href="#">西班牙语</a>
			</div>
			<div class="songKind_hot">
				<span style="background: none;">流派</span>
				<span><a href="#" style="margin: 0;" class="songKind_div_a">热门</a></span>
				<a href="#">流行</a>
				<a href="#">古典</a>
				<a href="#">爵士</a>
				<a href="#">摇滚</a>
				<a href="#">电子</a>
				<a href="#">拉丁</a>
				<a href="#">轻音乐</a>
				<a href="#">世界音乐</a>
				<a href="#">嘻哈</a>
				<a href="#">原声</a>
				<a href="#">乡村</a>
				<a href="#">舞曲</a>
				<a href="#">R&B</a>
				<a href="#">民谣</a>
				<a href="#">金属</a>
			</div>
			<div class="songKind_hot">
				<span style="background: none;">筛选</span>
				<a href="#">类别∨</a>
				<a href="#">年代∨</a>
				<a href="#">唱片公司∨</a>
			</div>
		</div>
        
        
        <div class="kind_choose">
			<div class="songMenuChoose">全部专辑</div>
			<button class="songMenuHot">最热</button>
			<button class="songMenuNew">最新</button>
		</div>
		
		
		<!--
        		描述：分页插件,
        		"width":按钮的大小
				"marginInterval":按钮之间的间隔（一边）
				"pageArrNumber":按钮的个数
				"pageRowCount":每页多少行数据
				"trHeight":每行数据的高度
				Angular：
				onePageData：每页的数据存放数组
       	-->
	<div class="paging" data-setting='{
				"width":50,
				"marginInterval":2,
				"pageArrNumber":7,
				"pageRowCount":25
			}'>
			<div class="Menu">
				<div class="Menu_row" >
					<div class="Menu_part" ng-repeat="x in onePageData">
						<a href={{x.songMenuhref}} class="Menu_part_a">
       							<img class="Menu_part_img" src={{x.songMenuImgUrl}} width="200px"/>
       							<i class="Menu_part_bg"></i>
       							<i class="Menu_part_icon"></i>
       					</a>
       					<div class="Menu_part_mes">
       							<ul>
       								<li class="Menu_part_song"><a href={{x.songMenuhref}}>{{x.songMenuName}}</a></li>
       								<li class="Menu_part_songer">{{x.songMenuUser}}</li>
       								<li class="Menu_part_songer">{{x.songMenuPlayNum}}</li>
       							</ul>
       					</div>
					</div>
				</div>
			</div>
			<ul class="paging_ul">
				<li class="paging_li" ng-click="page_Frist()">首</li>
				<li class="paging_li" ng-click="pageprev()">&lt;</li>
				<li class="paging_li paging_Btn" ng-repeat="(key,value) in pageCountArr track by key" ng-click="pageBtn($event)" ng-mouseover="pageBtnOver($event)" ng-mouseleave="pageBtnLeave($event)" data-index={{$index}}>{{pageCountArr[$index]}}</li>
				<li class="paging_li" ng-click="pagenext()">&gt;</li>
				<li class="paging_li" ng-click="page_End()">尾</li>
				<li class="paging_li"><input class="paging_ipt" type="text" maxlength="3"/></li>
				<li class="paging_li" ng-click="pageGo()">GO</li>
			</ul>
	</div>	
		
		
        <!--
        	描述：页尾
        -->
		<div class="Home_End">
        	<div class="Home_End_content">
				<div class="Introduce">
					<dl style="height: 150px;">
						<dt><a href="#">下载客户端</a></dt>
						<dd>
							<a href="#">PC版</a>
						</dd>
						<dd>
							<a href="#">Mac版</a>
						</dd>
						<dd>
							<a href="#">Android版</a>
						</dd>
						<dd style="margin-bottom: 30px;">
							<a href="#">IPhone版</a>
						</dd>
					</dl>
					<dl style="height: 150px;">
						<dt><a href="#">特色产品</a></dt>
						<dd>
							<a href="#">K歌</a>
						</dd>
						<dd>
							<a href="#">Super Sound</a>
						</dd>
						<dd>
							<a href="#">QPlay</a>
						</dd>
						<dd style="margin-bottom: 30px;">
							<a href="#">演出</a>
						</dd>
					</dl>
					<dl style="height: 150px;">
						<dt><a href="#">合作</a></dt>
						<dd>
							<a href="#">CJ E&M</a>
						</dd>
						<dd style="margin-bottom: 74px;">
							<a href="#">腾讯视频</a>
						</dd>
					</dl>
					<dl style="height: 150px;">
						<dt><a href="#">链接</a></dt>
						<dd>
							<a href="#">新浪微博</a>
						</dd>
						<dd>
							<a href="#">腾讯微博</a>
						</dd>
						<dd style="margin-bottom: 30px;">
							<a href="#">FackBook</a>
						</dd>
					</dl>
					<dl style="margin-left: 25%;">
						<dt><a href="#">我的音乐</a></dt>
						<dd>
							<a href="#">现有音乐</a>
						</dd>
						<dd>
							<a href="#">查看音乐</a>
						</dd>
						<dd>
							<a href="#">我的记忆</a>
						</dd>
						<dd>
							<a href="#">账户设置</a>
						</dd>
						<dd>
							<a href="#">音乐库</a>
						</dd>
						<dd>
							<a href="#">我的优惠券</a>
						</dd>
						<dd>
							<a href="#">我的收藏</a>
						</dd>
						<dd>
							<a href="#">我的评论</a>
						</dd>
					</dl>
					<dl style="margin-right: 25%;">
						<dt><a href="#">帮助和搜索指南</a></dt>
						<dd>
							<a href="#">账户</a>
						</dd>
						<dd>
							<a href="#">歌手</a>
						</dd>
						<dd>
							<a href="#">歌单</a>
						</dd>
						<dd>
							<a href="#">专辑</a>
						</dd>
						<dd>
							<a href="#">单曲</a>
						</dd>
						<dd>
							<a href="#">MV</a>
						</dd>
						<dd>
							<a href="#">联系我们</a>
						</dd>
						<dd>
							<a href="#">常见问题</a>
						</dd>
					</dl>
				</div>
			</div>

			<div class="End">
				<ul>
					<li>
						<a href="#">关于我们</a>
					</li>
					<li>
						<a href="#">帮助和购物指南</a>
					</li>
					<li>
						<a href="#">法律声明</a>
					</li>
					<li>
						<a href="#">使用原则</a>
					</li>
				</ul>
				<div>
				</div>
				<span>
					SlowMusic（中国）有限公司 保留所有权利    湘ICP备******号-2
				</span>
			</div>
        </div>
	</body>
	<script type="text/javascript" src="js/Special/ng-special.js" ></script>
</html>
